page-login 
{
  .body_l{
   background-image: url("../assets/imgs/fundo.jpg");
   background-size:100%;
   position: relative;

   }
   
   .login
   {
      margin: 0;    
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      box-shadow: 2px 2px 2px 2px whitesmoke !important;
   }
   
   .titulo_centralizado{text-align:center;}

   .error{
      color: #ff0000;
      font-size: 12px;
    }
    
    a.link_esqueci_cadastrese:link, a.link_esqueci_cadastrese:visited {
	color: #FFC300;
	opacity:1;
	font-size: 18px;
	font-family: Arial;
	text-align: center; 
	float: center;
	text-decoration: none;
	margin-left:400px;
   }
   
   a.link_esqueci_cadastrese:hover, a.link_esqueci_cadastrese:active {
   	color: #FFC300;
   	opacity:0.8;
   	font-size: 18px;
   	font-family: Arial;
   	text-align: center; 
   	float: center;
   	text-decoration: none;
   	margin-left:400px;
   	
   }  

}
