<ion-header>
		<ion-navbar color = "inclusio_2">
		  <div id="titulo">
			<ion-title>
			 <span text-color="fonte-laranja"> Login </span>
			</ion-title>
		  </div>
		  
		</ion-navbar>
	  </ion-header>

<ion-content class="body" padding>
 
	<div id="principal">

  <!--Aqui é o modelo para os formularios-->
  
    <div id="formulario">
		
		<form [formGroup]="loginForm"  (submit)="login()" novalidate>	
			 <div id="linha_form">
				<div id="input_form">
					 <ion-item>
						 <ion-input [(ngModel)]="usuario"
							 formControlName="usuario"
							 type="textarea"
							 placeholder="Usuário"
							 clearInput clearOnEdit="false">
						</ion-input>
					 </ion-item>
					 <h6 *ngIf="errorUsuario" class="error"> {{messageUsuario}}</h6>
				</div> <!-- input_form -->
			</div> <!-- linha_form -->
			<br> <br>
			<div id="linha_form">
				<div id="input_form">
					<ion-item>
						<ion-input [(ngModel)]="password"
							 formControlName="password"
							 type="password"
							 placeholder="Senha"
							 clearInput clearOnEdit="false">
						</ion-input>
					</ion-item>
					<h6 *ngIf="errorPassword" class="error"> {{messagePassword}}</h6>
				</div> <!-- input_form -->
			
			</div> <!-- linha_form -->
			<br>
			<button ion-button round class="botao">Entrar</button>
		</form>	
		<br>
	<button ion-button round class="botao"[navPush]="cadastroPage" >Ainda não sou cadastrado</button>
	    <br>
		<br>
	<button ion-button round class="botao"[navPush]="esquecisenhaPage" (click)="ir_esquecisenha()" >Esqueci minha senha</button>
   
   </div> <!-- formulario -->
  
  </div> <!--principal-->

</ion-content>
