page-ajuda {
.p_inicio{
text-align: justify;
font-size: 130%;
}
.h1_inicio{
    
    font-size: 180%;
   
   }
   #texto_inicio{
    padding: 5%;
    padding-top: 2%;
   }
  b{
    float:center;
  }
  

}
