<ion-header>
  <ion-navbar>
	
	   <div  id="topo">
		   <div id="btn_menu">
			<ion-buttons left> 
				<button ion-button icon-only menuToggle> 
					<p class="menu"><ion-icon name="menu"> </ion-icon></p>
				</button>

			</ion-buttons>
				</div>
			<div id="titulo">
			<ion-title>
			 <span text-color="fonte-laranja"> Criar Palavras </span>
			</ion-title>
			</div>
		</div>
	
  </ion-navbar>
</ion-header>

<ion-content class="body" padding>
 
<div id="caixa_cadastro">
	&nbsp; &nbsp;  <p class="icon"><ion-icon ios="ios-person" md="md-person"></ion-icon></p> <!-- <h1>Criar Categoria</h1>-->
	<form  [formGroup]="criarPalavraForm" novalidate>
      <ion-row>
        <ion-col>
          <ion-list inset>
            <div id="input_form">
		    <div id="texto"> Palavra:</div>
			<ion-item>
				<ion-input [(ngModel)]="nomePalavra" formControlName="nomePalavra" type="textarea" placeholder="Palavra" id="nomePalavra" clearInput clearOnEdit="false"></ion-input>
            </ion-item>
			<h6 *ngIf="errornomePalavra" class="error"> {{messagenomePalavra}}</h6>
			<br>
			
			<div id="texto"> Imagem:</div>
				<button ion-button full (click)="captureImage()">Acessar a galeria</button>
          <button ion-button full (click)="takePicture()">Tirar Foto</button>
					<ion-card>
            <ion-card-header>Imagem</ion-card-header>
            <ion-card-content>
								<img src = "{{base64Image}}"/> 
            </ion-card-content>
          </ion-card>
			<!--<ion-item>
					<ion-input [(ngModel)]="txtimg" formControlName="txtimg" (input)="mudaImg()" id="txtimg" type="textarea" placeholder="Imagem" clearInput clearOnEdit="false"></ion-input><br><br>
				<img [src]="imagem" height="100px"><br><br>
            </ion-item> 
        
            <h6 *ngIf="errorImagem" class="error"> {{messageImagem}}</h6>-->
			<br>
		
			
			<div id="texto"> Categorias:</div>
			<div id="div_categorias">
			</div>
			</div>
			</ion-list>  
        </ion-col>
      </ion-row>		
		
      <ion-row>
        <div id="botoes">
          <button ion-button round class="botaoCad" (click)="criar()">Enviar</button>
          <button ion-button round class="botaoCad" (click)="limpar()">Limpar</button>
        </div>
      </ion-row>
	</form>
</div>
</ion-content>