page-home {

.sobre{ padding: 10%;}

#imagem{float: left;}

#texto{float: left;}

img.principal{
    width: 95%;
    border-width: 1px;
}

img.listen{
    padding-left: 2%;
    height: 100%;
    float: right;
}

img.logo{
    float: right;
}


#main{
    height: 90%;
    width: 100%;
}

#teclado{padding: 5%}

#frase-formada{
    height: 100%;
    width: 100%;
    border: 3px solid #E0E0E0;
    border-radius: 10px !important; //define o quao arrendodado serao as caixas de texto     
    vertical-align: auto;
    float: left;
}

p.frase{
    font-family: Arial;
    font-size: 90%;
    font-weight: bold;
    color: #00678B;
    margin: 1%;
}

#top-tab{
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 100%;
    height: 10%;
    width: 100%;
    padding-left: 4%;
    padding-right: 4%;
}
#cat{padding-top: 5%}
.col{
    border: 3px solid #E0E0E0;
    border-radius: 10px !important;
    margin: 1%;
}


.sintetizador{background-color: transparent;}
}

//Coisas validas para todos
#btn_menu
{
	//padding:5%;
	float: left;
	width:37px;
}

p.menu
{
	color:#FF6501;
	font-size:20px;
}

.toolbar-background {
  background-color: #F2E8E1;
}

.body{
background-image: url("../assets/imgs/fundo.jpg");
background-size:100%
}

#principal{

	 background-color: #fff;
	 font-family: arial;
	 border-radius: 30px !important; //define o quao arrendodado serao as caixas de texto         
    border: 1px solid #ffffff;
    margin-top:3%;     
	 padding: 10%;
    padding-top: 5%;
    box-shadow: 2px 2px 2px whitesmoke;

}

p{
	color:#602901;
	 font-size: 130%;
	margin: 0%;
	}
   
h1{
   
   color:#FF6501;
	 font-size: 150%;
   padding: 1%;

}

.icone{

   color:#FF6501;
}

#linha_form{
   width: 100%;
}

#nome_form{
   width: 100%;
}

#input_form{
   padding: 10%;
   padding-top: 0%;
}

input[type=radio]
{
  color: #602901; 
}

input[type=radio]:hover
{
  color: #602901;
}

input[type=text] {
    width: 100%;
    padding: 5%;
    border: 3px solid #E0E0E0;
    border-radius: 10px !important; //define o quao arrendodado serao as caixas de texto     
    color:#602901;
	 font-size: 130%;
	 margin: 0%;        
     
}

input[type=text]:focus {
    width: 100%;
    padding: 5%;
    border-radius: 10 px !important; //define o quao arrendodado serao as caixas de texto          
    border: 3px solid #C0C0C0;
}

select {
    width: 100%;
    padding: 5%;
    background-color: white;
    border: 3px solid #E0E0E0;
    border-radius: 10px !important; //define o quao arrendodado serao as caixas de texto      
    color:#602901;
	 font-size: 130%;
	 margin: 0%; 
}

select:focus {
    width: 100%;
    padding: 5%;
     border-radius: 10 px !important; //define o quao arrendodado serao as caixas de texto        
    border: 3px solid #C0C0C0;    
}

.list-md .item-block .item-inner {
    border-bottom: 1px solid #dedede;
    color:#602901;
}

.checkbox-md .checkbox-checked {
    border-color: #602901;
    background-color: #602901;
}

textarea {

    width: 100%;
    padding: 5%;
    border: 3px solid #E0E0E0;
    border-radius: 10px !important; //define o quao arrendodado serao as caixas de texto     
    color:#602901;
	 font-size: 130%;
	 margin: 0%;       
}


textarea:focus {
   // width: 100%;
    padding: 5%;
    border-radius: 10 px !important; //define o quao arrendodado serao as caixas de texto          
    border: 3px solid #C0C0C0;
}

.botao {
    width: 100%;
    padding: 5%;
    background-color: #FF6501;       
    color: #fff;
    font-family: Arial;
    font-weight: bold;
     cursor: pointer;
    height: 3.6rem;
    font-size: 1.4rem;
    -webkit-appearance: button;
    border: 1px solid #FF6501;
    border-radius: 64px !important; //define o quao arrendodado serao as caixas de texto     
    padding: 3%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    text-align: center;
}


input[type="submit"].botao_linha{
   border: 3px solid #999	;
   background-color:transparent;
   font-family: Arial;
   font-weight: bold;
   height: 3.6rem;
   box-shadow: 0 2px 2px 0 whitesmoke, 0 3px 1px -2px whitesmoke, 0 1px 5px 0 whitesmoke;
   color: #696969;
}

#linha_botao
{
      display: grid;
      align-content: center;
}

#input_botao
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


#principal{
	background-color: #fff;
	font-family: arial;     
	border-radius: 2px !important; //define o quão arrendodado serão as caixas de texto        	
    border: 1px solid #ffffff;
    margin-top:3%;     
	padding: 10%;
    padding-top: 5%;
}
#titulo{
    font-family: arial;
    font-size:30px;
	float: left;
}

#icone{
	width:100%;
	float:right;
}
.body{
background-image: url("../assets/imgs/fundo.jpg");
background-size:100%
}
[text-color = "fonte-laranja"] {
    color: #FF6501;
	font-size: 130%;
   font-weight: bold;
}
.botao {
    background-color: #FF6501;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
}
