page-tutorial {
.lara_tutorial
{
   width:50%;
     -webkit-animation-name: mover_lara; 
  -webkit-animation-duration: 5s;    
}

@-webkit-keyframes mover_lara {
     //hora de dizer oq ele tem q fazer:
    from {right: 0%;} // ir da opacidade 0.0 (invisivel)
    to {right: 25%;}   //para opacidade 1.0 (visivel)
    //ps: e possivel com outras configuracoes ex: posicao na tela, backgound...
}

.balao1 {
  background: #c3bef0;
  color: #fff;
  //padding: 15px;
  position: relative;
  width: 45%;
  float:right;
  font-size:100%;
  padding: 5%;

}

.balao1:before {
  border: 10px solid transparent;
  border-right-color: #c3bef0;
  content: "";
  left: -20px;
  position: absolute;
}

.balao2 {
  background: #c3bef0;
  color: #fff;
  //padding: 15px;
  position: relative;
  width: 45%;
  float:left;
  font-size:100%;
  padding: 5%;
}

.balao2:after {
  border: 10px solid transparent;
  border-left-color: #c3bef0;
  content: "";
  right:-20px;
  position: absolute;
}

.balao3 {
  background: #c3bef0;
  color: #fff;
  //padding: 15px;
  position: relative;
  width: 45%;
  float:right;
  font-size:100%;
  padding: 5%;
}

.balao3:before {
  border: 10px solid transparent;
  border-right-color: #c3bef0;
  content: "";
  left: -20px;
  position: absolute;
}

.botao_tut{

   float: left;
   background: linear-gradient(270deg, #ffc461, #FF6501);

}

}
