page-splash {
//SPLASH
#custom-overlay {
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 100000;
   width:100%;
   background-color: #fff;
}

#custom-overlayimg {
    display: block;
    margin: 0auto;
    width: 50%;
    height: auto;
    animation-delay: 1s;
}

#logo_lara{

  width: 100%;
  height:100%;
  display: grid;
  align-content: center;
  padding: 3%;
  -webkit-animation-name: aparecer_lara; 
  -webkit-animation-duration: 5s; 
}

@-webkit-keyframes aparecer_lara {
     //hora de dizer oq ele tem q fazer:
    from {opacity: 0.0;} // ir da opacidade 0.0 (invisivel)
    to {opacity: 1.0;}   //para opacidade 1.0 (visivel)
    //ps: e possivel com outras configuracoes ex: posicao na tela, backgound...
}

#logos{

   -webkit-animation-name: aparecer_logos; 
  -webkit-animation-duration: 7s; 
  width: 100%;
  height:100%;
  display: grid;
  align-content: center;
  padding: 3%;
}

@-webkit-keyframes aparecer_logos {
     //hora de dizer oq ele tem q fazer:
    from {opacity: 0.0;} // ir da opacidade 0.0 (invisivel)
    to {opacity: 1.0;}   //para opacidade 1.0 (visivel)
    //ps: e possivel com outras configuracoes ex: posicao na tela, backgound...
}

#linha_logos{
   float: left;
   width:100%;
}

.logos_splash{
   width:40%;
   float: left;
   margin: 5%;

}

.h1_inicio{
 color:white;
 font-size: 180%;
}
 
.p_inicio{
   color:white;
   font-size: 130%;
}

#caixa
{
   width: 95%; 
  background-color: rgba(30, 30, 30, 0.8);
   margin-top:2%;
   margin-left:2%;
   box-shadow: 2px 2px 2px  gray;
}

#texto_inicio{
 padding: 5%;
 padding-top: 2%;
}

}

